V2/CatchException/Service References/WebCatchException/CatchException.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebCatchException" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebCatchException" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2010/CatchException.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="MyException">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ComputerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Method" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OsPlatform" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OsServicePack" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OsVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Program" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SID" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrgenceLevel" nillable="true" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_Excep" nillable="true" type="tns:ArrayOfMyExceptionDetail" />
      <xs:element minOccurs="0" name="_Var" nillable="true" type="tns:ArrayOfElVar" />
      <xs:element minOccurs="0" name="bitmap" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sourceFilePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sourceLineNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyException" nillable="true" type="tns:MyException" />
  <xs:complexType name="ArrayOfMyExceptionDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MyExceptionDetail" nillable="true" type="tns:MyExceptionDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMyExceptionDetail" nillable="true" type="tns:ArrayOfMyExceptionDetail" />
  <xs:complexType name="MyExceptionDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="tns:ArrayOfElVar" />
      <xs:element minOccurs="0" name="HResult" type="xs:int" />
      <xs:element minOccurs="0" name="HelpLink" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetSite" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="code" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyExceptionDetail" nillable="true" type="tns:MyExceptionDetail" />
  <xs:complexType name="ArrayOfElVar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ElVar" type="tns:ElVar" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfElVar" nillable="true" type="tns:ArrayOfElVar" />
  <xs:complexType name="ElVar">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ElVar" nillable="true" type="tns:ElVar" />
</xs:schema>