V2/CatchException/Service References/WebCatchException/CatchException1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2010/CatchException.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebCatchException" />
  <xs:element name="Catch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebCatchException" minOccurs="0" name="exception" nillable="true" type="q1:MyException" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CatchResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteInJournal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ordi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="App" type="xs:int" />
        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteInJournalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>